{#
/**
 * Vanillaforums plugin for Craft CMS 3.x
 *
 * Vanillaforums Settings.twig
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2019 nystudio107
 * @link      https://nystudio107.com/
 * @package   Vanillaforums
 * @since     3.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("nystudio107\\vanillaforums\\assetbundles\\vanillaforums\\VanillaforumsAsset") %}

{% macro configWarning(setting, file="vanillaforums") -%}
    {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
    {%- if configArray[setting] is defined -%}
        {{- "This is being overridden by the `#{setting}` setting in the `config/#{file}.php` file."|t("vanillaforums")|raw }}
    {%- else -%}
        {{ false }}
    {%- endif -%}
{%- endmacro %}
{% from _self import configWarning %}

    {{ forms.textField({
        "label": "Authentication URL"|t("vanillaforums"),
        "instructions": "The location of the JSONP formatted authentication data, which you should copy & paste into your Vanilla Forums settings."|t("vanillaforums"),
        "id": "authenticationUrl",
        "name": "authenticationUrl",
        "value": actionUrl("vanillaforums/sso/output"),
        "readonly": true,
    }) }}

<p>Please see <a href="https://docs.vanillaforums.com/help/sso/jsconnect/" target="_blank">jsConnect Single Sign-On (SSO) </a> for details on how to set up Vanilla Forums to use SSO</p>

{% if craft.vanillaforums.craft31 %}
    {{ forms.autosuggestField({
        "label": "Vanilla Forums jsConnect Client ID"|t("vanillaforums"),
        "instructions": "Enter your Vanilla Forums jsConnect Client ID."|t("vanillaforums"),
        suggestEnvVars: true,
        "id": "vanillaForumsClientID",
        "name": "vanillaForumsClientID",
        "value": settings.vanillaForumsClientID,
        "warning": configWarning("vanillaForumsClientID")
    }) }}
    {{ forms.autosuggestField({
        "label": "Vanilla Forums jsConnect Secret"|t("vanillaforums"),
        "instructions": "Enter your Vanilla Forums jsConnect Secret."|t("vanillaforums"),
        suggestEnvVars: true,
        "id": "vanillaForumsSecret",
        "name": "vanillaForumsSecret",
        "value": settings.vanillaForumsSecret,
        "warning": configWarning("vanillaForumsSecret")
    }) }}
{% else %}
    {{ forms.textField({
        "label": "Vanilla Forums jsConnect Client ID"|t("vanillaforums"),
        "instructions": "Enter your Vanilla Forums jsConnect Client ID."|t("vanillaforums"),
        "id": "vanillaForumsClientID",
        "name": "vanillaForumsClientID",
        "value": settings.vanillaForumsClientID,
        "warning": configWarning("vanillaForumsClientID")
    }) }}

    {{ forms.textField({
        "label": "Vanilla Forums jsConnect Secret"|t("vanillaforums"),
        "instructions": "Enter your Vanilla Forums jsConnect Secret."|t("vanillaforums"),
        "id": "vanillaForumsSecret",
        "name": "vanillaForumsSecret",
        "value": settings.vanillaForumsSecret,
        "warning": configWarning("vanillaForumsSecret")
    }) }}
{% endif %}

    {{ forms.selectField({
        label: "Hash Algorithm"|t("vanillaforums"),
        instructions: "You can select a custom hash algorithm to sign your requests. The hash algorithm must also be used in your client library. Choose md5 if you're not sure what to choose."|t("vanillaforums"),
        id: "hashAlgorithm",
        name: "hashAlgorithm",
        value: settings.hashAlgorithm,
        options: hashTypes,
        errors: settings.getErrors("hashAlgorithm"),
    }) }}
